.notes {
  display: flex;
  flex-direction: column;

  &__homepage {
    height: 450px;
    position: relative;
    background-color: white;
    overflow: auto;
    h1 {
      margin: 20px;
    }
  }
  &__footer {
    align-content: end;
    text-align: end;
    margin: 20px;
    .newPage {
      font-size: 32px;
      color: #ffd52e;
    }
  }

  &__header {
    color: #ffd52e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 18px;
  }

  //   .chevron {
  //     font-size: 24px;
  //   }
  // }

  //   input {
  //     height: 50px;
  //     font-weight: 600;
  //     font-size: 18px;
  //     border: none;
  //     padding: 10px;
  //   }

  //   input::placeholder {
  //     font-size: 30px;
  //   }

  //   textarea {
  //     border: none;
  //     padding: 10px;
  //   }
  // }

  // .customDiv {
  //   border-radius: 10px;
  //   background-color: #e5e5e5;
  //   margin: 10px;
  //   padding-right: 10px;
  //   padding-left: 10px;
  //   padding-bottom: 5px;
  //   display: flex;
  //   flex-direction: column;
  //   position: relative;
  // }

  // #pencilEdit {
  //   position: absolute;
  //   top: 10px;
  //   right: 35px;
  //   font-size: 20px;
  // }

  // #deleteDiv {
  //   position: absolute;
  //   top: 10px;
  //   right: 10px;
  //   font-size: 20px;
  // }

  .hide {
    display: none;
  }

  .black {
    color: black;
  }
}

.input-box {
  border-radius: 10px;
  background-color: #e5e5e5;
  margin: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 70px;
}

.input-box img {
  width: 25px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

.leaveNotes {
  padding-left: 265px;
}
