@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600&family=Silkscreen&display=swap");
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  height: 450px;
}
.main__lock {
  font-size: 20px;
}
.main__lockscreen--date {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 0px;
}
.main__lockscreen--time {
  font-weight: 600;
  font-size: 60px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.clickOpen {
  background-color: transparent;
  border: none;
  color: #fff;
  font-weight: 200;
  margin-top: 280px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.footer__lockscreen {
  opacity: 0.5;
}
.footer__lockscreen--apps {
  display: flex;
  justify-content: space-between;
}
.footer__lockscreen--appsIcon {
  opacity: 1;
  color: #fff;
  font-size: 30px;
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(93, 88, 88, 0.7);
  margin: 0px 55px 40px 55px;
}

.torch {
  transform: rotate(-45deg);
}

.hide {
  display: none;
}

.firstPage {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  height: 50px;
  justify-content: center;
}
.firstPage__apps {
  display: flex;
  flex-wrap: wrap;
}
.firstPage__apps--card {
  text-align: center;
  flex: 1 0 25%;
  overflow: hidden;
}
.firstPage__apps--card p {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  margin-top: 0px;
}
.firstPage__apps--card .app {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  padding: 4px;
}
.firstPage__footer {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 10px;
  padding: 6px 2px 5px 2px;
  border-radius: 20px;
  background-color: rgba(93, 88, 88, 0.7);
  max-height: 60px;
}
.firstPage__footer--card {
  flex: 1 0 25%;
}

.hide {
  display: none;
}

.pageToggle {
  display: flex;
  border-radius: 20px;
  background-color: rgba(93, 88, 88, 0.7);
  padding: 5px;
  gap: 10px;
  margin-top: 116px;
  width: 50px;
  height: 20px;
  align-items: center;
  justify-content: center;
}
.pageToggle__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #697780;
  gap: 1px;
}

.active {
  background-color: white;
}

.messages img {
  width: 100px;
  height: 100px;
}

.secondPage {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  justify-content: center;
}
.secondPage__apps {
  display: flex;
  flex-wrap: wrap;
}
.secondPage__apps--card {
  text-align: center;
  flex: 1 0 25%;
  overflow: hidden;
}
.secondPage__apps--card p {
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  margin-top: 0px;
}
.secondPage__apps--card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.secondPage__footer {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 10px;
  padding: 6px 2px 5px 2px;
  border-radius: 20px;
  background-color: rgba(93, 88, 88, 0.7);
  max-height: 60px;
}
.secondPage__footer--card {
  flex: 1 0 25%;
}

.app {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 4px;
}

.hide {
  display: none;
}

.pageToggleTwo {
  display: flex;
  border-radius: 20px;
  background-color: rgba(93, 88, 88, 0.7);
  padding: 5px;
  gap: 10px;
  margin-top: 210px;
  width: 50px;
  height: 20px;
  align-items: center;
  justify-content: center;
}
.pageToggleTwo__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #697780;
  gap: 1px;
}

.active {
  background-color: white;
}

.notes {
  display: flex;
  flex-direction: column;
}
.notes__homepage {
  height: 450px;
  position: relative;
  background-color: white;
  overflow: auto;
}
.notes__homepage h1 {
  margin: 20px;
}
.notes__footer {
  align-content: end;
  text-align: end;
  margin: 20px;
}
.notes__footer .newPage {
  font-size: 32px;
  color: #ffd52e;
}
.notes__header {
  color: #ffd52e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 18px;
}
.notes .hide {
  display: none;
}
.notes .black {
  color: black;
}

.input-box {
  border-radius: 10px;
  background-color: #e5e5e5;
  margin: 10px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 70px;
}

.input-box img {
  width: 25px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

.leaveNotes {
  padding-left: 265px;
}

.magicEight {
  background-image: inherit;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-direction: column;
  position: relative;
}
.magicEight h1 {
  color: rgb(222, 222, 102);
  font-family: "Silkscreen", sans-serif;
  text-align: center;
  margin: 5px;
}
.magicEight i {
  color: white;
  position: absolute;
  top: 0;
  right: 10px;
}
.magicEight__img {
  width: 300px;
  height: 300px;
  position: relative;
}
.magicEight__text {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Silkscreen", sans-serif;
  text-align: center;
}

#shakingImage {
  transition: transform 1s ease-in-out;
}

.shake {
  animation: shakeAnimation 0.3s ease-in-out;
}

@keyframes shakeAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}
.hide {
  display: none;
}

.stopwatch {
  background-color: black;
  height: 500px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.stopwatch__timer {
  font-size: 30px;
  display: flex;
  flex-direction: row;
}
.stopwatch__buttons {
  margin: 30px;
  display: flex;
}
.stopwatch__buttons--play {
  margin: 10px;
  background-color: rgb(52, 218, 52);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border-radius: 70px;
  padding: 40px;
  width: 60px;
  height: 60px;
}

.hide {
  display: none;
}

.pauseBackground {
  background-color: rgb(234, 22, 26);
}

#returnToFirstPage {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 15px;
}

* {
  font-family: "Poppins", sans-serif;
}

.iphone, .iphoneNotes {
  background-color: white;
  height: 600px;
  position: relative;
  overflow: hidden;
  width: 320px;
  border: 8px solid black;
  border-radius: 40px;
  box-sizing: border-box;
  background-image: url("img/iphone background.jpeg");
  background-size: cover;
}
.iphone__speaker {
  position: absolute;
  top: 0;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  height: 24px;
  width: 100px;
  background-color: #000;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.iphone__speaker--rounded {
  position: relative;
}
.iphone__speaker--rounded::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  height: 20px;
  width: 20px;
  z-index: 1;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  box-shadow: 1px -10px 0px 0px #000;
}
.iphone__speaker::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 7px;
  height: 4px;
  width: 30px;
  border-radius: 10px;
  border: 0.03em solid rgba(51, 51, 51, 0.479);
  box-shadow: inset 0px 0px 3px 0px rgba(51, 51, 51, 0.712);
}
.iphone__speaker::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 5px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #333;
}
.iphone__nav {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  color: #fff;
  z-index: 1;
}
.iphone__nav--right {
  display: flex;
}
.iphone__nav--right .nav-icon {
  font-size: 17px;
  margin-top: 10px;
  margin-right: 5px;
}
.iphone__nav--left {
  margin-top: -5px;
}
.iphone__nav--left p {
  font-size: 15px;
}

.sideBySide {
  display: flex;
  gap: 50px;
}

.iphoneNotes {
  background-image: none;
}

.addMagicBackground {
  background-image: url(img/background.jpeg);
  background-size: cover;
  background-position: center center;
}

.magicEight {
  background-image: inherit;
  background-size: cover;
  background-position: center center;
}

.addStopWatchBackground {
  background-color: #000;
  background-image: none;
}

.addNotesBackground {
  background-color: white;
  background-image: none;
}

.addColourBlack {
  color: black;
}
